
#carousel {
  width: 100%;
  opacity: 0.3; 
  height: 36em;
}

body{
  background-color: #F4F9F6;
}
    
footer {
    background-color: #F4F9F6;
    padding: 25px;
}

footer a{
  color: gray;
}

#social-media{
  text-align: center;
}

#social-media img{
  width: 80px; 
  height: 80px;
}

#latest-posts{
  background-color: #F4F9F6; 
}

#post-date{
  color: gray;
  font-size: 11px;
}